.player-login
{   
    display: flex;
    flex-direction:column;
    height: 730px;
    padding: 5px 15px;
    
}
.input-form{
    width: 35%;
    align-self: center;
    padding: 10px 15px;
    .names{
        width: 80%;
        font-size: 18px;
    }
    .required {
        font-size: 20px;
        color: red;
        padding: 2px ;
    }
    .start
    {
        font-size: 18px;
        padding: 20px 30px;
        border-radius:10px; 
        
        &:hover
        {
            opacity: 0.8;
            background-color: slategray;
            color: snow;
        }
    }
}
.name{
    border: 4px solid grey;
}

@media (min-width:1001px)
{
    
    .player-infr
    {
        font-size: 45px;
    }
    .input-form{
        width: 45%;
        
    }
}
@media (min-width:600px) and (max-width:1000px)
{
    .player-infr
    {
        font-size: 45px;
    }
    .input-form{
        width: 60%;
    }
}

@media (min-width:350px) and (max-width:599px)
{
    
    .player-infr
    {
        font-size: 45px;
    }
    .input-form{
        width: 80%;
    }
}


@media(max-width:349px)
{
    
    .player-infr
    {
        font-size: 35px;
    }
    .input-form{
        width: 95%;
    }
    .names{
        width: 50%;
    }
}