.container{
    height: 714px;
}
.board
{
    padding: 10px 20px;
    margin: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 125px 125px 125px;
    
}
.player-info
{
  display: flex;
  justify-content: space-around;
  
}
.buttons-2
{
    display: flex;
    justify-content: space-evenly;
    .comm-button
    {
        font-size: 18px;
        padding: 15px 20px;
        border-radius:10px; 
        
        &:hover
        {
            opacity: 0.9;
            background-color: slategray;
            color: snow;
        }
    }
}

@media (min-width:320px) and (max-width:400px)
{
    .board
    {
        padding: 10px 10px;
        margin: 10px;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 100px 100px 100px;
        
    }
    .player-info
    {
        display: flex;
        justify-content: space-around;
        padding: 0px;
    }
    

}
@media (min-width:200px) and (max-width:319px)
{
    .board
    {
        padding: 10px 10px;
        margin: 10px;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 70px 70px 70px;
        
    }
    .player-info
    {
        display: flex;
        justify-content: space-around;
        padding: 0px;
    }
    

}