
.player
{
    width: 125px;
    padding: 5px 20px;
    color:#165656;
    background-color: #39CCCC;
    font-size:20px;

}

@media (min-width:300px) and (max-width:400px)
{
    .player
    {
        width: 100px;
        padding: 5px 20px;
    }

}
@media (min-width:200px) and (max-width:299px)
{
    .player
    {
        width: 80px;
        font-size:15px;
        padding: 5px 5px;
    }

}