.footer
{
    font-size: 20px;
    color: #165656;
    background-color: #39CCCC;
    padding: 20px 20px;
}

.heart
{
    color: red;
    font-size: 25px;
}
.smile
{
    font-size:25px;
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
}